{{Template_All_Teams}}

<html>
<head>
<link rel="stylesheet" type="text/css" href="/Template:Waterloo/CSS/style.css?action=raw&ctype=text/css">
<link rel="stylesheet" type="text/css" href="/Template:Waterloo/CSS/bootstrap.css?action=raw&ctype=text/css">
<link rel="stylesheet" type="text/css" href="/Template:Waterloo/CSS/normalize.css?action=raw&ctype=text/css">
<link rel="stylesheet" type="text/css" href="/Template:Waterloo/CSS/font-awesome.min.css?action=raw&ctype=text/css">
<script src="/Template:Waterloo/JS/bootstrap.js?action=raw&ctype=text/javascript"></script>
<script src="/Template:Waterloo/JS/scroll-top.js?action=raw&ctype=text/javascript"></script>
<script src="/Template:Waterloo/JS/header.js?action=raw&ctype=text/javascript"></script>
<script src="/common/MathJax-2.5-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script src="/Template:Waterloo/JS/references.json?action=raw&ctype=text/javascript"></script>
<script src="/Template:Waterloo/JS/citetag.js?action=raw&ctype=text/javascript"></script>
</head>
</html>

{{Waterloo_Header}}
