<html>
<a href="#0" class="cd-top">Top</a>
<footer>
    <p class="footer-links">
        <a href="https://www.facebook.com/WaterlooiGEM"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="https://twitter.com/Waterloo_iGEM"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://www.youtube.com/c/WaterlooiGEMUW"><i class="fa fa-youtube-play fa-2x"></i></a>
        <a href="https://github.com/igem-waterloo"><i class="fa fa-github fa-2x"></i></a>
        <a href="https://plus.google.com/+WaterlooiGEMUW"><i class="fa fa-google-plus fa-2x"></i></a>
        <a href="mailto:uwigem@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
    </p>
    <p class="footer-links" style="font-size:0.8em;">
        <a href="http://2015.igem.org/Team:Waterloo/Sitemap" style="font-size:1em;">Sitemap</a>
        <a style="padding-right:0;font-size:1em;" href="http://igem.uwaterloo.ca">External Site</a>
        &copy; 2015 Waterloo iGEM
    </p>
</footer>
</html>
