{{Template_All_Teams}}

<!-- Declare that you are going to use html code instead of wiki code -->
<html>
<head>
<link rel="stylesheet" type="text/css" href="/Template:Waterloo/CSS/style.css?action=raw&ctype=text/css">
<link rel="stylesheet" type="text/css" href="/Template:Waterloo/CSS/bootstrap.css?action=raw&ctype=text/css">
<link rel="stylesheet" type="text/css" href="/Template:Waterloo/CSS/normalize.css?action=raw&ctype=text/css">
<link rel="stylesheet" type="text/css" href="/Template:Waterloo/CSS/font-awesome.min.css?action=raw&ctype=text/css">
<script src="/Template:Waterloo/JS/bootstrap.js?action=raw&ctype=text/javascript"></script>
<script src="/Template:Waterloo/JS/scroll-top.js?action=raw&ctype=text/javascript"></script>
<script src="/Template:Waterloo/JS/header.js?action=raw&ctype=text/javascript"></script>
</head>
</html>

{{Waterloo_Header}}
