<html>
<a href="#0" class="cd-top">Top</a>
<footer>
  <p class="footer-company-name">Waterloo iGEM</p>
  <p class="footer-links">
    <a href="http://2015.igem.org/Team:Waterloo/Sitemap">Sitemap</a>
    <a href="https://www.facebook.com/WaterlooiGEM">Facebook</a>
    <a href="https://twitter.com/Waterloo_iGEM">Twitter</span></a>
    <a href="https://www.youtube.com/c/WaterlooiGEMUW">YouTube</a>
    <a href="https://github.com/igem-waterloo">GitHub</a>
    <a href="https://plus.google.com/+WaterlooiGEMUW">Google+</a>
    <a href="mailto:uwigem@gmail.com">Email</a>
    <a class="last" href="http://igem.uwaterloo.ca">External Site</a>
  </p>
  <p class="footer-company-motto">&copy; 2015 Waterloo iGEM</p>
</footer>
</html>
