<html>
<header>
<nav class="navbar navbar-nav navbar-default navbar-fixed-top main-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/Team:Waterloo"><img src="/wiki/images/0/0b/Waterloo_logo_transparent.png" alt="Waterloo iGEM Logo" style="width: inherit"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!--Project-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Project<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/Team:Waterloo/Description">Description</a></li>
            <li><a href="/Team:Waterloo/Results">Results</a></li>
            <li><a href="/Team:Waterloo/Design">Design</a></li>
            <li><a href="/Team:Waterloo/Requirements">Requirements</a></li>
          </ul>
        </li>
        <!--Wet Lab-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Wet Lab<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/Team:Waterloo/Parts">Team Parts</a></li>
            <li><a href="/Team:Waterloo/Basic_Part">Basic Parts</a></li>
            <li><a href="/Team:Waterloo/Composite_Part">Composite Parts</a></li>
            <li><a href="/Team:Waterloo/Part_Collection">Part Collection</a></li>
            <li><a href="/Team:Waterloo/Experiments">Experiments &amp; Protocols</a></li>
            <li><a href="/Team:Waterloo/Notebook">Notebook</a></li>
          </ul>
        </li>
        <!--Math-->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Math<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/Team:Waterloo/Modeling">Modeling</a></li>
              <li><a href="/Team:Waterloo/Software">Software</a></li>
            </ul>
        </li>
        <!--Policy-->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Policy<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/Team:Waterloo/Safety">Safety</a></li>
              <li><a href="/Team:Waterloo/Practices">Practices</a></li>
              <li><a href="/Team:Waterloo/Outreach">Outreach</a></li>
            </ul>
        </li>
        <!--Team-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Team<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/Team:Waterloo/Team">Our Team</a></li>
            <li><a href="/Team:Waterloo/Attributions">Attributions</a></li>
            <li><a href="/Team:Waterloo/Sponsors">Sponsors</a></li>
            <li><a href="/Team:Waterloo/Collaborations">Collaborations</a></li>
            <li class="divider"></li>
            <li><a href="/Team:Waterloo/Entrepreneurship">Entrepreneurship</a></li>
            <li><a href="/Team:Waterloo/Measurement">Measurement</a></li>
            <li><a href="/Team:Waterloo/Example">Example Page</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<nav class="navbar navbar-default navbar-fixed-top navbar-lower shrink hide-lower" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" style="text-align:center;">
      <ul class="nav navbar-nav inner-page-links" id="inner-page-links">

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
</html>
